@model CSE_434_project.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.firstName)</th>
                <td>@Html.DisplayFor(model => model.firstName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.lastName)</th>
                <td>@Html.DisplayFor(model => model.lastName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Mobile)</th>
                <td>@Html.DisplayFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Gender)</th>
                <td>@Html.DisplayFor(model => model.Gender)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DOB)</th>
                <td>@Html.DisplayFor(model => model.DOB)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Shift)</th>
                <td>@Html.DisplayFor(model => model.Shift)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Picture)</th>
                <td>@Html.DisplayFor(model => model.Picture)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <td>@Html.DisplayFor(model => model.Status)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ClassID)</th>
                <td>@Html.DisplayFor(model => model.ClassID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ParentID)</th>
                <td>@Html.DisplayFor(model => model.ParentID)</td>
            </tr>
        </tbody>
    </table>

</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


<p>

    <div class=" col-md-offset-2 col-md-10 py-2">

        <button class="btn btn-outline-primary text-bg-dark">

            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID })

        </button>
        <button class="btn btn-outline-primary text-bg-dark">

            @Html.ActionLink("Back to List", "Index")

        </button>
    </div>
</p>